
/*this section is dedicated to the main body------------------------------------------------------*/
/*===Body Width Percent Conversion = 1350px/1400px Margin Percent =  96.42857142857142% ======*/
/*==Body Margin / Padding Percent Conversion = 10px/1300px Margin Percent =  1.041666666666667% ==*/

body{
  	float: left;
  	color: black;
  	font: 1em /* 16px/16px*/ Georgia, Verdana, ariel;
  	border: .25em solid #036; /* 32px/16px */
 	padding: .7407407407407407% /*.625em or 10px/16px */;
	margin: .7407407407407407% /*.625em or 10px/16px */;
	background: url('../images/bluetexturedscreen2.png') repeat 20%;
	width: 96.42857142857142%;
}

/*this section is dedicated to the mainphoto------------------------------------------------------*/
/*=Section Margin/Padding Percent Conversion = .4px / 1235px Margin Percent = .3238866396761135% ==*/

article, .ed, .paralegal_benefits, .photo_gal, .cta, footer{
  	background-color: #fff;
	border: .25em /* 4px/16px */ solid #036;
	padding: .3238866396761135%;  /*.25em or 4px/16px */
  	margin: .3238866396761135%;   /*.25em or 4px/16px */
  	float: left;
  	width: 95%;  /* 1235px / 1350px = 95% */
  	}

/*This section is for the Education Section. It should contain no other css */

.ed div ul li{
	list-style-type: square;
}

/*This section is for the section benefits of a Parlegal. It should contain no other css in addition*/
/*========== 24px / 1235px = 1.94331983805668% or 1.5em or 24px/16px ==========*/

.paralegal_benefits{
  	column-count: 3;
  	column-gap: 1.94331983805668%;
  	-ms-column-count: 3;
  	-ms-column-gap: 1.94331983805668%; 
  	-moz-column-count: 3;
  	-moz-column-gap: 1.94331983805668%; 
  	-web-column-count: 3;
  	-web-column-gap: 1.94331983805668%; 
  	-o-column-count: 3;
  	-o-column-gap: 1.94331983805668%;
  	-khtml-column-count: 3;
  	-khtml-column-gap: 1.94331983805668%;
}

/*This section is for the Photo Gallary section. It should contain no other css */

.photo_gal ul li{
  list-style-type: none;
  display: inline;
}

/*This section is for the CTA section "Call to Action" . It should contain no other css */

.cta{
  	background: url('../images/graytexturedscreen.png') repeat 50% fixed;
  	width: 55%;
  	float: right;
  	
}

#request_info{
  	color: #036;
  	font: 1.25em /* 20px/16px*/ Helvetica Neue, Ariel;
  	text-shadow: .03125em .03125em .03125em #fff;
}
	

/*this section is dedicated to the headings------------------------------------------------------*/
h1, h2, h3, h4, h5, h6{
  	color: #069;
  	font: 1.5em /* 24px/16px*/ Helvetica Neue, Ariel;
  	text-shadow: .0625em .0625em .0625em #111;
}

h1{
	font: 2.5em /* 40px/16px*/ ariel;
	text-align: center;
	color: #036;
	float: left;
}

.cta{
  	font: 1.75em /* 32px/16px*/ ariel;
  	color: #006;
  	text-shadow: .03125em .03125em .03125em #000;
}

#request_info{
	text-align: center;
}

/*==============================================IMAGES============================================*/
/*-----------------------this section is dedicated to the mainphoto-------------------------------*/
/*===The width of the main_photo 819px. ===*/
/*==== 4px / 819px = .4884004884004882% ====*/
.main_photo{
 	padding: .4884004884004882% /*.5em or 4px/16px */;
  	margin: .4884004884004882% /*.5em or 4px/16px */; 	  
}

#main_photo_container{
	width: 35.63596491228069%;  /* 325px / 960px*/
	/*float: left;*/
}

#main_photo_container img{
	max-width: 100%;
}

/*==== To calculate the aprox. percentage of an image I am taking the width = 1235px and calculating
95% of that which is 1173.25px dividing the total of 95% into four equal parts which gives us 23.75% 
or 293.3125px===*/
.photo_gal li img{
	width: 23.75%; 
	/*float: left;*/
}

.photo_gal li img{
	max-width: 100%;
}


/*this section is for the images------------------------------------------------------------------*/
/*===The width of an image is 200px. ===*/
img{
  	float: left;
  	display: inline;
  	border: .0625em /* 1px/16px */ solid #111;
  	box-shadow: .1875em .1875em .1875em #111 /* .1875em = 3px/16px */;
 	padding: .5em /* 4px/16px */;
  	margin: .5em /*4px/16px */; 	  
  	opacity: 0.95;
  	border-radius: 5%;
}

/*=============Since each photo is has different widths, they are listed separately.=============*/
/*===The width of the tm_office_photo is 499px. ===*/
/*==== 4px /499px = .8016032064128252% ====*/
#tm_office_photo{
 	padding: .8016032064128252% /*.5em or 4px/16px */;
  	margin: .8016032064128252% /*.5em or 4px/16px */; 	  
}

/*===The width of the tm_working_photo is 502px. ===*/
/*==== 4px /502px = .7968127490039839% ====*/
#tm_working_photo{
 	padding: .7968127490039839% /*.5em or 4px/16px */;
  	margin: .7968127490039839% /*.5em or 4px/16px */; 	  
}

/*===The width of the notary_photo is 888px ===*/
/*==== 4px/888px =.4504504504504504% ====*/
#notary_photo{
 	padding: .4504504504504504% /*.5em or 4px/16px */;
  	margin: .4504504504504504% /*.5em or 4px/16px */; 	  
}

/*===The width of the tm_desk_photo 894px. ===*/
/*==== 4px / 894px = .4474272930648769% ====*/
#tm_desk_photo{
 	padding: .4474272930648769% /*.5em or 4px/16px */;
  	margin: .4474272930648769% /*.5em or 4px/16px */; 	  
}

/*This section is for the footer section. It should contain no other css */
footer{
  	font-size: 1em;
}

/*========================================MAIN NAV & LINKS=======================================*/
/*This section is for the main nav. It should contain no other css */
nav ul li{
	width: 30%;
	background: #069;
	float: left;
	padding: .5em /*4px/16px */;
	margin: .5em /*4px/16px */; 	  
	list-style-type: none;
}

a{
	text-decoration: none;
	background: #fff;
	display: block;
	height: 2em;
	line-height: 2em;
	text-align: center;
	color: #069;
}

a:visited{
	color: #009;
}

a:hover{
	color: #fff;
	background: #069;
}

a:active{
	color: #fff;
	background: #009;
}
/*========================THIS MARKS THE END OF THE MAIN NAV & LINKS CSS==========================*/

/*-----------------------------------------MEDIA QUERIES------------------------------------------*/
/*==================== THE FOLLOWING MEDIA QUEREIS ARE FOR 980PX OR LESS =========================*/

@media screen and (max-width: 980px) {
	nav ul li{
	width: 80%;
	}
	
	h1{
	font-size: 1.75em;
	}
	
	.cta{
	font-size: 1.75em /* 32px*/;
	text-align: center;
	color: #036;
  	width: 95%;
  	float: left;
  	}
	

}

/*==================== THE FOLLOWING MEDIA QUEREIS ARE FOR 700PX OR LESS =========================*/

@media screen and (max-width: 700px) {
	.cta{
	font-size: 1.5em /* 32px*/;
  	}
	
	.main_photo, .photo_gal, .paralegal_benefits, .ed {
	display: none;
	}

}

/*==================== THE FOLLOWING MEDIA QUEREIS ARE FOR 480PX OR LESS =========================*/

@media screen and (max-width: 480px) {
	nav ul li{
	width: 90%;
	}
	
	h1{
	font-size: 1.5em /* 16px*/;
	}
	
	.cta{
	font-size: 1.25em /* 12px*/;
  	}
	

}


